
body{
    margin-top: 80px;
}
nav{
    background-color: lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%
}

nav li{
    font-size: 26px;
    background-color:aliceblue;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#project1 h2{
    font-size: 50px;
    text-align: center;
}
#project1 p {
    font-size: 24px;
    text-align: center;
}

#project1 li {
    font-size: 24px;
    text-align: center;
    list-style: none;
}
#project2 h2{
    font-size:50px;
    text-align: center;
}

#project2 p {
    font-size: 24px;
    text-align: center;
}

#project2 li {
    font-size: 24px;
    text-align: center;
    list-style: none;
}

@media (min-width: 1024px){
    img {
        width: 50%;
        height: 50%;
        display: block;
        margin: auto;
    }
}

@media (max-width:412px){
    img {
        width: 100%; 
        margin: auto;
    }
    nav li {
        font-size: 22px;
        width: 100px;
        margin-bottom: 5px;
    }
    #project1 h2{
    font-size: 33px;
    text-align: center;
    
}

    #project1 p {
        font-size: 20px;
        text-align: center;
}

    #project1 li {
        font-size: 20px;

}
    #project2 h2{
    font-size: 33px;
    
}

    #project2 p {
        font-size: 20px;
    }

    #project2 li {
        font-size: 20px;

}